@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-primary: #ff6a1a;
    --color-secondary: #749b3f;
    --font-secondary: var(--font-Questrial);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

.container {
    @apply w-[96%] max-w-[1200px] mx-auto;
}

.banner_bg {
    background: url("../assets/banner.png") no-repeat right bottom;
    /* background-color: #f1f1f1 ;  */
    /* z-index: 999; */
}
