@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #212337;
}

@theme inline {
    --color-primary-text: #212337;
    --color-primary: #ff6a1a;
    --color-secondary: #749b3f;
    --font-secondary: var(--font-Questrial);
}

body {
    @apply text-[#212337];
}

.container {
    @apply w-[96%] max-w-[1200px] mx-auto;
}

.banner_bg {
    background: linear-gradient(180deg, #f1f1f1, #f1f1f1);
    /* background-color: #f1f1f1 ;  */
    /* z-index: 999; */
}

.ant-tabs .ant-tabs-tab-btn {
    border: 1px solid #d9d9d9 !important;
    color: #a6a6a6 !important;
    padding: 12px 24px !important;
    font-size: 18px !important;
    border-radius: 8px !important;
}

.ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible),
.ant-tabs .ant-tabs-tab-remove:focus:not(:focus-visible),
.ant-tabs .ant-tabs-tab-btn:active,
.ant-tabs .ant-tabs-tab-remove:active {
    background: #749b3f !important;
    border: 1px solid #749b3f !important;
    color: #ffffff !important;
}
.ant-tabs .ant-tabs-ink-bar {
    background: transparent !important;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    background: #749b3f !important;
    border: 1px solid #749b3f !important;
    color: #ffffff !important;
}
.ant-tabs .ant-tabs-tab:hover {
    color: #749b3f !important;
}
.ant-tabs-top >.ant-tabs-nav::before, :where(.css-dev-only-do-not-override-16dneet).ant-tabs-bottom >.ant-tabs-nav::before, :where(.css-dev-only-do-not-override-16dneet).ant-tabs-top >div>.ant-tabs-nav::before, :where(.css-dev-only-do-not-override-16dneet).ant-tabs-bottom >div>.ant-tabs-nav::before {
   
    border-bottom: 0px solid #f0f0f0 !important;
 
}